#footer{
  background: linear-gradient(360deg, 
   rgba(38,184,188,1) 0%,
   rgba(140,214,211,0.7) 40%, 
   rgba(255,247,237,0.4) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  min-height: 150px;
}


.contact {
  display: flex;
  align-items: center;
  width: 20%;
}

.contact div {
  display: flex;
  flex-direction: column;
}
.contact .fb-icon {
  margin-left: 12px;
}

.contact div a{
  padding: 2px 0;
  text-decoration: underline;
}

.navbar ul {
  list-style: none;
  width: 50vw;
  max-width: 300px;
}